body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.accordion :active {
  /*background: red !important;*/
}

.accordion-button {
  display: block;
  text-align: center;
  /*background-color: gray !important;*/
}

.accordion-button:focus {
  /*border-color: red;*/
  /*box-shadow: none;*/
}

.accordion-button:not(.collapsed) {
  /*color: #212529;*/
}

.icon {
  display: inline-block;
  fill: grey;
  width: 25px;
  height: 25px;
}

.icon:hover {
  fill: red;
}
